<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="head"></div>
    <div class="box">
        <input type="text" name="" class="one" placeholder="账号/uesrname">
        <input type="password" class="two" placeholder="密码/password">
        <div class="boxs"> 
        <input type="button" class="thr" value="登录">
        <input type="button" class="for" value="注册">
        </div>
    </div>
    <div class="box1">
        <input type="text" name="" class="fiv" placeholder="账号/uesrname">
        <input type="text" name="" class="six" placeholder="密码/password">
        <input type="text" name="" class="seve" placeholder="昵称/nickname">
        <div class="box2">
        <input type="button" class="eig" value="确定">
        <input type="button" class="nine" value="取消">
        </div>
    </div>
    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>